* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: #1e1a1a;
}

h1 {
  padding: 2rem;
  color: darkgray;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  width: 100%;
  height: 65px;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #0a0a16;
}

header .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  width: 65%;
}

header .nav-language-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35%;
}

header .nav-language-buttons img {
  width: 75px;
}

header .nav-language-buttons button {
  margin: 5px;
  height: 50px;
  width: 55px;
  border-radius: 50%;
}

header .nav-language-buttons button.selected-btn {
  border: solid 5px green;
}

header .nav-language-buttons button:hover {
  color: #a5a5a5;
  cursor: pointer;
}

header .nav-home {
  text-align: center;
  width: 50%;
}

header a {
  color: cornsilk;
  text-decoration: none;
  font-size: 32px;
}

header .nav-lateral-menu {
  width: 50%;
}

header .nav-lateral-menu img {
  width: 50px;
  height: 40px;
}

header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

header .nav-links a {
  color: cornsilk;
  text-decoration: none;
  font-size: 20px;
}

header a:hover {
  color: #a5a5a5;
  text-decoration: none;
  cursor: pointer;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 200px;
}

.home img {
  width: 500px;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 300px;
  padding-bottom: 400px;
  padding-left: 10%;
  width: 80%;
  color: darkgray;
}

.about-content section {
  height: 100%;
}

.about-content p {
  font-size: 30px;
}

.skills-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 75px;
  padding-bottom: 400px;
}

.skills-content h2 {
  text-align: center;
  color: darkgray;
  padding-bottom: 50px;
}

.skills-content section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: _;
  padding-bottom: _;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.skills-content img {
  height: 80px;
  padding: 10px;
}

.portfolio-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 75px;
  padding-bottom: _;
}

.portfolio-content section p {
  color: #a5a5a5;
  font-size: xx-large;
  height: 830px;
}

.nav-to-home-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 65%;
}

.contact h1 {
  color: cornsilk;
}

.contact nav {
  width: 20%;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 300px;
  padding-bottom: _;
  color: #a5a5a5;
  width: 100%;
}

.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 500px;
  height: 200px;
}

.contact-form form input {
  text-align: center;
  height: 50px;
}

.contact-form form textarea {
  text-align: center;
  height: 50px;
}

.contact-form form button {
  height: 50px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

.nav-links a {
  display: block;
  padding: 0.5rem;
}

.btn-mobile {
  display: none;
}

@media (max-width: 1200px) {
  header {
    height: 100;
  }
  .nav-links {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #e7e7e7;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  .nav-lateral-menu.active .nav-links {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  .nav-links a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  .btn-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: _;
        -ms-flex-align: _;
            align-items: _;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  .hamburger {
    border-top: 2px solid;
    width: 20px;
    padding-left: 50%;
    padding-right: 50%;
  }
  .hamburger::after,
  .hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
  }
  .nav-lateral-menu.active .hamburger {
    border-top-color: transparent;
  }
  .nav-lateral-menu.active .hamburger::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .nav-lateral-menu.active .hamburger::after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: -7px;
  }
}

@media (max-width: 590px) {
  header {
    height: 125px;
  }
  header a {
    font-size: 26px;
  }
  header .nav-language-buttons img {
    width: 50px;
    margin-right: 5px;
  }
  header .nav-language-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .nav-language-buttons .nav-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .nav-language-buttons button {
    margin-left: 5px;
    width: 35px;
    height: 35px;
  }
  .home img {
    width: 300px;
  }
}
/*# sourceMappingURL=styles.css.map */